.container{
  width: 80%;
  margin-top:0;
  box-shadow: 0 15px 40px rgba(0,0,0,.5);
  /*opacity: 0.95;*/
  padding-top: 20px;
  margin: none;
}
.navbar{
  background-color: rgb(8, 3, 49);
  color: white;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding-top: 200px;
  width: 182px;
  background-color: rgb(8, 3, 49);
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 0 15px 40px rgba(0,0,0,.5);
  opacity: 0.90;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: rgb(247, 244, 244);
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: rgb(50, 148, 94);
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 100px;
  padding-top: 202px;
  height: 1000px; 
  z-index:2;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}