/* You can add global styles to this file, and also import other style files */
.bg{
    background-image: url("/assets/cropped-cropped-6799895-keyboard-background.jpg") ;
    /* Full height */
    height: 1300px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
  