<div class="bg">
  <div *ngIf="isSignedUp; else signupForm">
    Your registration is successful. Please login!
  </div>
  
  <ng-template #signupForm>
    <div class="col-md-4 col-sm-6 col-xs-12" style="margin-left: 500px;">
      <div class="panel panel-primary">
        <div class="panel-heading" style=" background: rgb(8, 22, 29);"><span class="glyphicon glyphicon-list"></span> Inscription</div>
        <div class="panel-body">
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <label for="name">Your name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" placeholder="Nom" required />
                    <div *ngIf="f.submitted && name.invalid">
                      <div *ngIf="name.errors.required">Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="form.username" placeholder="Login" #username="ngModel"
                      required />
                    <div *ngIf="f.submitted && username.invalid">
                      <div *ngIf="username.errors.required">Username is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" placeholder="Email" required email />
                    <div *ngIf="f.submitted && email.invalid">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password" placeholder="Mot de passe" #password="ngModel"
                      required minlength="6" />
                    <div *ngIf="f.submitted && password.invalid">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="bton"> Register</button>
                    <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                      Signup failed!<br/>{{errorMessage}}
                    </div>
                  </div>
              </form>
          </div>
      </div>
    </div>
    </ng-template>
</div>